{% extends 'base.html' %}

{% block title %}
    Login Page
{% endblock %}

{% block content %}
<body class="text-center">
    <div class="container" style="max-width: 500px; margin-top: 50px;">
        <form method="POST" class="form-register p-4 bg-dark text-white rounded shadow">
            <h1 class="h3 mb-4 font-weight-normal">Please Login</h1>

            {{ form.hidden_tag() }}

            <!-- Username -->
            <div class="form-group">
                {{ form.username.label(class="form-label") }}
                {{ form.username(class="form-control", placeholder="Enter Username") }}
            </div>

            <!-- Password -->
            <div class="form-group">
                {{ form.password.label(class="form-label") }}
                {{ form.password(class="form-control", placeholder="Enter Password", type="password") }}
            </div>

            <div class="d-flex justify-content-between align-items-center">
                <h6 class="mb-0">Don't have an account?</h6>
                <a href="{{ url_for('register_page') }}" class="btn btn-link btn-sm">Register</a>
            </div>

            <!-- Submit Button -->
            {{ form.submit(class="btn btn-primary btn-lg btn-block mt-3") }}
        </form>
    </div>
</body>
{% endblock %}
